<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    let total=0;
    let celdasValor=document.querySelectorAll('.ColumnaA')
    for(var i=0;i<celdasValor;i++){
        total+=parseInt(celdasValor[i].firstChild.data)
    }
    let text=document.createTextNode(total)
    document.getElementById('total').appendChild(text)
    document.write('<h1>hola</h1>')
    
</script>
{{#if muebles_vendidos}}
<table id="tabla" class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">producto</th>
      <th scope="col">cantidad</th>
      <th scope="col">total</th>
    </tr>
  </thead>
  <tbody>
    {{#each muebles_vendidos}}
    <tr class="encabezado">
      <th scope="row">{{@index}}</th>
      <td>{{idmueble}}</td>
      <td>{{cantidad}}</td>
      <td class="ColumnaA">{{valor_total}}</td>      
    </tr>
    {{/each}}   
    <tr><td>total </td>
    <td id="total"> {{total}} </td>
    <td> <form action="/carrito" method="POST"><button type="submit" class="btn btn-secondary"> realizar compra</button></form> </td>
    </tr>
  </tbody>
  

</table>
{{else}}
<h1 class="card-header bg-primary text-light text-center"> aun no hay muebles en el carrito </h1>
{{/if}}
