<div class="container row">
    
    {{#each muebles}}

    <div class="col-3 my-1">
        <div class="card mb-3" id="{{id}}">
            <h3 class="card-header">{{nombre}}</h3>


            <div class="card-body">
                {{>fotos_mueble}}
                <p class="card-footer">${{precio}}</p>
                <div class="text-center" id="{{id}}">{{>modal-mueble}}</div>

            </div>
        </div>
    </div>

    {{/each}}
</div>