{{#if fotos}}
                <div id="demo{{id}}" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo{{id}}" data-slide-to="0" class="active"></li>
                        <li data-target="#demo{{id}}" data-slide-to="1"></li>
                        <li data-target="#demo{{id}}" data-slide-to="2"></li>
                    </ul>

                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        
                        {{#each fotos}}
                        <div class="carousel-item {{#equals @index '0'}} active {{/equals}}">
                            <img src="{{foto}}" alt="Los Angeles" height="200px">
                        </div>
                        
                        {{/each}}
                        
                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo{{id}}" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo{{id}}" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>

                </div>
                {{else}}
                <img src="imagenes/sofa.png" class="d-block w-100" alt="...">
                {{/if}}