<div class="text-center">
	<!-- Button HTML (to Trigger Modal) -->
	<a href="#login" class="nav-link" data-toggle="modal">iniciar sesion</a>
</div>

<!-- Modal HTML -->
<div id="login" class="modal fade">
	<div class="modal-dialog modal-login">
		<div class="modal-content">
			<form action="/autenticacion" method="post">
				<div class="modal-header">				
					<h4 class="modal-title">Login </h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">				
					<div class="form-group">
						<label>Correo electronico</label>
						<input name="email" type="text" class="form-control" required="required">
					</div>
					<div class="form-group">
						<div class="clearfix">
							<label>clave</label>
							<a href="#" class="float-right text-muted"><small>olvido su clave?</small></a>
						</div>
						
						<input name="clave" type="password" class="form-control" required="required">
					</div>
				</div>
				<div class="modal-footer justify-content-between">
					<label class="form-check-label"><input type="checkbox"> recuerdame</label>
					<input type="submit" class="btn btn-primary" value="Login">
				</div>
			</form>
		</div>
	</div>
</div>     