{{#if resultado}}
<table id="tabla" class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">id</th>
      <th scope="col">nombre</th>
      <th scope="col">apellidos</th>
      <th scope="col">email</th>
      <th scope="col"># ventas</th>
    </tr>
  </thead>
  <tbody>
    {{#each resultado}}
    <tr class="encabezado">
      <th scope="row">{{@index}}</th>
      <td>{{id}}</td>
      <td>{{nombre}}</td>
      <td>{{apellidos}}</td>
      <td>{{email}}</td>
      <td>{{ventas}}</td>             
    </tr>
    {{/each}}
    {{else}}
    <h1 class="card-header bg-primary text-light text-center"> no hay vendedores con ventas éste mes</h1>  
    {{/if}} 
     </tbody>