<div class="container">
    {{#if error}}
    <div class="alert alert-danger text-center h4" role="alert">
    {{error}}
</div>
{{/if}}
{{#if errors}}
    <div class="alert alert-danger text-center h4" role="alert">
    {{errors}}
</div>
{{/if}}
{{#if msg_ok}}
<div class="alert alert-success text-center h4" role="alert">
  {{msg_ok}}
</div>
{{/if}}
</div>
