<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Cliente</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Vendedor</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/crearVendedor">Crear Vendedor</a>
            <a class="dropdown-item" href="#">editar Vendedor</a>
            
          
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">mueble</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
           
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">informes</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/clientes-nuevos-mes">Clientes nuevos</a>
            <a class="dropdown-item" href="/mejores-clientes-mes">mejores clientes del mes</a>
            <a class="dropdown-item" href="/mejores-vendedores-mes">mejores vendedores del mes</a>
            <a class="dropdown-item" href="/muebles-mas-vendidos-mes">muebles mas vendidos</a>
           
        </li>