<li class="nav-item">
    <a class="nav-link" href="/">catalogo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/carrito">Carrito de compras</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/profile">perfil</a>
  </li>