<button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{id}}"> 
  ver mueble
</button>
<div class="modal fade" id="exampleModal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="card mb-3" >
        
            <h3 class="card-header">{{nombre}}</h3>             
            <div class="card-body">
              {{>fotos_mueble}}
              ${{precio}}
              <form action="/agregarAlCarrito" method="post">
              <div class="form-group">
                  <input type="hidden" name="idmueble" value="{{id}}"> 
                  <input type="hidden" name="precio" value="{{precio}}">
                </div>
              
                 <div class="form-group">
                  <input type="number" class="form-control" name="cantidad" placeholder="cantidad">
                </div>
                <p class="card-footer text-center">  <button type="submit" class="btn btn-primary">agregar al carrito</button></p>
              </form>
              {{#if user}}
              
              {{/if}}
                
            </div>
            
        </div>
    </div>
  </div>
</div>