<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
  <div class="container">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>    
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        {{#if user}}
        {{#equals user.rol 'admin' }} {{>menuAdmin}} {{/equals}}
        {{#equals user.rol 'cliente' }} {{>menuCliente}} {{/equals}}
        {{#equals user.rol 'vendedor' }} {{>menuVendedor}} {{/equals}}
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/cerrarSesion">cerrar sesion</a>
        </li>
      </ul>
      {{else}}
      <a class="navbar-brand" href="/"> inicio </a>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/registrarse">registrarse</a>
        </li>
        <li class="nav-item ">
          {{>login}}

        </li>
      </ul>


      {{/if}}

    </div>
  </div>
</nav>