<br></br>
<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header bg-primary text-light">Bienvenido {{user.rol}}</div>
				<div class="card-body">
					<p>Usuario: {{user.nombre}} {{user.apellidos}}</p>
					<p>Correo: {{user.email}}</p>
					<p>fecha: {{fecha}}</p>
				</div>
			</div>
		</div>
	</div>
</div>